
body {
    background-color: #3b1212 !important;
  
    height: 100vh;
    justify-content: center;
    align-items: center;
   
}
*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: sans-serif;
color: #fff;
}
/*Formulario */
.form-container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    box-shadow: 5px 5px 20px rgba(255, 0, 0, 0.2);
}

.form-inner {
    padding: 30px;
}

h3 {
    font-weight: normal;
    padding: 20px;
    color: #fff;
    text-align: center;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.1);
}

.input-holder {
    position: relative;
    margin-bottom: 25px;
}

.input-text, textarea {
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    color: #fff;
}

.label {
    position: absolute;
    pointer-events: none;
    transition: .2s ease all;
    font-size: 16px;
    color: #ffffff;
    top: 18px;
    left: 0;
}

textarea {
    min-height: 160px;
    padding: 15px 0;
}

button {
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    padding: 15px;
    width: 100%;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.1);
    border: none;
    font-size: 16px;
    background: transparent;
    transition: .2s ease;
}

button:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,0.4);
}

button:focus {
    outline: 0;
}

input:focus, textarea:focus {
    outline: 0;
    border-bottom: 2px solid #fff;
}

input:focus ~ .label,
textarea:focus ~ .label,
input:not(:focus):valid ~ .label,
textarea:not(:focus):valid ~ .label {
    top: -10px;
    font-size: 11px;
}
/*Animacion de tarjetas con Info*/
.card-area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    width: 100%;
}

.wrapper2 {
    max-width: 800px; /* Ajusta según necesites */
    width: 100%;
    padding: 0 10%;
}

.box-area {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    justify-content: center; /* Centra las tarjetas horizontalmente */
}

.box {
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(255, 56, 56, 0.5);
    transition: all 0.3s ease-in-out;
    height: 100%;
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.overlay {
    height: 0;
    width: 100%;
    background: linear-gradient(transparent, #b3301f 70%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 10%;
    font-family: 'Bebas Neue';
    font-size: 30px;
    letter-spacing: 2px;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    background: #ffffff;
    border-radius: 50px;
    text-align: center;
    padding: 0px 10px;
}

.box:hover img {
    transform: scale(1.2);
}

.box:hover .overlay {
    height: 100%;
}
/*Animacion de Footer*/
.footer{
    position: relative;
    width: 100%;
    background: #ff6900;
    min-height: 100px;
    padding: 20px;
    text-align: center;
    color: #111;
}
.footer .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.footer .col {
    flex: 1;
    margin: 10px;
    min-width: 150px; /* Ajusta según sea necesario */
}
.footer ul{
    list-style-type:none ;
    padding: 0;
}
.footer ul li{
    margin: 5px 0;
}
.footer .logo a{
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
    text-decoration: none;
}
.footer p {
    margin-top: 20px;
    font-size: 14px;
    color: #ffffff;
}
.wave{
position: absolute;
top: -100px;
left: 0;
width: 100%;
height: 120px;
background: url(svg\ \(2\).png);
background-size: 1000px 100px;

}
.wave:nth-last-of-type(1){
z-index: 1000;
opacity: 1;
bottom: 0;
animation: anim 4s linear infinite;
}

.wave:nth-of-type(2){
z-index: 999 ;
opacity: 0.5;
bottom: 10px;
animation: anim 4s linear infinite !important;

}

.wave:nth-of-type(3){
    z-index: 1000 ;
    opacity: 0.2;
    bottom: 15px;
    animation: anim 3s linear infinite !important;
    
}

.wave:nth-of-type(4){
    z-index: 999 ;
    opacity: 0.7;
    bottom: 20px;
    animation: anim 3s linear infinite !important;
        
}

@keyframes anim {
    0%{
       background-position-x: 1000px;

    }
    100%{
     background-position-x: 0px;

    }
}

@keyframes anim2 {
    0%{
       background-position-x: -1000px;

    }
    100%{
     background-position-x: 0px;

    }
}
.row{
height: 100%;
width: 100%;
display: flex;
justify-content: space-between;
}
/*//////////////////////////////////*/
/*Animacion de Fondo*/
.wrapper span{

    position: fixed;
    
    bottom: -180px;
    height: 50px;
    width: 50px;
    z-index: -1;
    background-color: #f8f8f8;
    box-shadow: 0 0 50px #ff6900,
    0 0 100px #ff6900,
    0 0 150px #ff6900,
    0 0 200px #ff6900;

    animation: animate 10s linear infinite;
}

.wrapper span:nth-child(1){
left: 60px;
animation-delay: 0.6s;
}
.wrapper span:nth-child(2){
     left: 10%;
    animation-delay: 3s;
    width: 60px;
    height: 60px;
    }
    
.wrapper span:nth-child(3){
     left: 30%;
     animation-delay:2s;
}
     
.wrapper span:nth-child(4){
    left: 60px;
    animation-delay: 5s;
    width: 80px;
    height: 80px;
}
.wrapper span:nth-child(5){
    left: 40%;
    animation-delay: 1s;
}
.wrapper span:nth-child(6){
    left: 50%;
    animation-delay: 7s;
}
.wrapper span:nth-child(7){
    left: 60%;
    animation-delay: 6s;
    width: 100px;
    height: 100px;
}
.wrapper span:nth-child(8){
    left: 70%;
    animation-delay: 8s;
}
.wrapper span:nth-child(9){
    left: 80%;
    animation-delay: 6s;
    width: 90px;
    height: 90px;
}
.wrapper span:nth-child(10){
    left: 90%;
    animation-delay: 4s;
}
    
.banner{
display: relative;
justify-content: center;
align-items: center;
height: 10vh;
}    
    
@keyframes animate {
    0%{
  transform: translateY(0);
  opacity: 1;
    }

    80%{
     opacity: 0.7;   
    }

    100%{
      transform: translateY(-800px) rotate(360deg);  
      opacity: 0;
    }
}                   
                    
 /*///////////*/               
            
section {
    padding: 3.9rem 0;
    
  
    
}

.hea-dark{
color: #ffffff;
letter-spacing: .7rem;
margin-right: -.7rem;

}

.global .h2-sub {
letter-spacing: -1px;
line-height: .42;
}
table{
width: 100%;
border-collapse: collapse;
margin: 20px 0;
font-size: 18px;
text-align: left;
color: #ffffff;

}

thead tr{
   
background-color: #944003;
color: white;
text-align: center;
font-weight: bold;

}

th, td{ 
padding: 12px 15px;
border-bottom: 1px solid #ddd;

}

tbody tr:nth-child(even){
background-color: #863100;

}

tbody tr:hover{
background-color: #ff6900;

}

table th, table td {
    text-align: center;
    vertical-align: middle;
}
.h2-sub{
font-size: 2rem;
font-family: 'Poppins',sans-serif;
color: rgb(255, 255, 255);
font-weight: 600;
text-align: center;
justify-content: center;
background: transparent;
}

h2{

text-align: center !important;
}

h1{
    text-align: center;
}

p{
color: rgb(255, 255, 255);

}
.trail{
position: absolute;
width: 10px;
height: 10px;
border-radius: 50%;
background: linear-gradient(45deg, #ff3cac, #f87b32, #c52b59);
pointer-events: none;
opacity: 0.7;
animation: fade 0.5s ease-out forwards;
}

@keyframes fade {
    to{
  opacity: 0;
  transform: scale(2);

    }
    
}
header {
    padding: 1rem;
  background: transparent;

    
}

nav{
display: flex;
justify-content: center;
align-items: center;
border-radius: 12px;
background:#ffffff1a ;
border: 1px solid #ffffff20;

}

ul{

display: flex;
gap:2rem;
list-style: none;
position: relative;
padding: 0;
margin: 0;
}

ul li {
position: relative;
text-align: center;
}
ul li a {
    color: rgb(0, 174, 255);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    padding: 0.5rem;
    position: relative;
}

ul li a::before{
content: " ";
position: absolute;
width: 0;
height: 2px;
background: rgb(255, 2, 2);
border-radius: 5px;
transition: width .5s ease;
bottom: -5px;
left: 0;
}

ul li a:hover::before{
width: 100%;

}

/* */

.gallery{
display: flex;
gap: 10px;
max-width: 80vw;
margin: 0 auto;
list-style: none;
padding: 0;
}
.card::before {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: -1;
    filter: blur(40px) saturate(400%);
    border-radius: inherit; /* Para que la sombra siga el borde redondeado */
    background-color: inherit;
   justify-content: baseline;
}


.card{
    position: relative;
    width: 500px;
    border-radius: 4px;
    padding: 8px;
    height: 160px;
    background-color: white;
    transition: 0.4s ease-in-out;
    flex: 1;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.card a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
    text-align: center;

}
.card:nth-child(1){
    
background-color: #c52b59 ;

background-size: cover;
background-position: center;

}

.card:nth-child(2){
    background-color: #75ffb3;
    }

    .card:nth-child(3){
        background-color: #47c5ff;
        }

        .card:nth-child(4){
            background-color: #a341ff;
            }

            .card:nth-child(5){
                background-color: #ff9b4a;
                }


.card:hover{

    flex:3;
    font-weight: bold;
    cursor: pointer;
}



.logo-container{

flex: 0 0 auto;

}

.logo-img{
max-width: 100px;
height: auto;
display: block;
margin: 0;

}
.ed-menu{

   margin-left: auto;
}

.ed-menu ul {
 list-style: none;
 display: flex;
 align-items: center;
 margin: 0;
 padding:0;

}

.ed-menu li{
margin-right: 20px;

}


@media screen and (max-width: 768px) {
    nav {
        justify-content: space-around;
    }

    ul {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
    
    ul li a {
        font-size: 1.2rem;
    }
    .overlay {
        padding: 0px 20px; /* Reduce el padding para pantallas pequeñas */
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }

    .overlay h3 {
        font-size: 24px; /* Ajusta el tamaño del título en pantallas pequeñas */
    }
    .box-area {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    

}

@media screen and (max-width: 480px) {
    header {
        padding: 0.5rem;
    }

    ul {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    ul li a {
        font-size: 0.5rem;
    }
    .overlay {
        padding: 15px 20px; /* Reduce el padding para pantallas pequeñas */
        font-size: 12px; /* Reduce el tamaño de la fuente */
    }

    .overlay h3 {
        font-size: 24px; /* Ajusta el tamaño del título en pantallas pequeñas */
    }
    .box-area {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        grid-gap: 20px;
    }
    
}


 .ed-item {
    margin: 0;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
    align-content: center;
}

